# REQUIRED MODULE SETTINGS

MODULE_NAME=McClimate Vicki Decoder
MODULE_TYPE=Processing

# REQUIRED API SETTINGS

INGRESS_HOST=0.0.0.0
INGRESS_PORT=80
EGRESS_URLS=https://testdockercompose.free.beeceptor.com

# YOU CAN ADD REMAINING MODULE SETTINGS BELOW
NESTED_RESPONSE=no
CUSTOM_FIELDS=